@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,300;0,500;0,700;1,700&family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&family=Sintony:wght@400;700&display=swap");

$mobile: 480px;
$tablet: 720px;
$desktop: 1080px;

$main-color: #fffbf4;
$button-color: #fff4dd;
$nav-font: "Lora";
$wrong-color: rgba(136, 11, 11, 0.822);
$delete-color: #ffdddd;
